[bumpversion]
current_version = 0.0.8-dev0
commit = True
tag = False
allow_dirty = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:file:asgardeo_auth_python_sdk/app_consts.py]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:part:build]

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod
